# Template padrao de arquivos ignorados

# Dados
data/

# Modelos
models/

# Ambiente
venv/
.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/

# Sistema
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Outputs
*.log
outputs/
wandb/
